body {
    background: #f0f4ef;
    margin: 0;
}

h1 {
    margin: 0;
}

#time {
    color: #0d1821;
    font-size: 7rem;
}

#date {
    font-size: 1.5rem;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.timeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 10;
}

.bottomToolBarContainer {
    background-color: black;
    flex: 2;
}

.wifiIndicatorIcon {
    color: white;
    margin: 5px 5px 5px 5px;
}

/* Status Bar */
.statusBarContainer {
    display: flex;
    background-color: black;
    flex-direction: row-reverse;
}
