body {
    background: #f0f4ef;
    margin: 0;
}

h1 {
    margin: 0;
}

@import './pages/css/Dashboard.css';

/* Status Bar */
@import './components/css/StatusBar.css';

/* App ToolBar & Buttons */
@import './components/css/AppButton.css';
@import './components/css/AppToolbar.css';

@import './pages/alarm/css/Alarm.css';
@import './pages/alarm/css/AddAlarm.css';

/* Black back bar for every page */
.backBarContainer {
    display: flex;
    background-color: black;
    flex: 1;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
